/* Global Master Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 0;
  background-color: #FFF;
}
body, input[text], button {
  color: #222;
  font-family: Cambria, Georgia;
}
.qr-code > svg {
  width: 2000px;
  max-width: 30%;
  max-height: 30%;
  color: #000;
  background-color: #FFF;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}
