<script src="/Scripts/Index.js"></script>
<p>
  You are logged in as user <%= username %> with SQRL site-specific
  public key <%= sqrlPublicKey %> .
</p>
<p id="current-cookie">
  (pending cookie value)
</p>
