<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>SQRL Test Site - <%= subpageName %></title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <link rel="stylesheet" href="styles.css">

  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>
<body>
  <%- body %>
</body>
</html>
