<script src="/Scripts/Login.js"></script>
<p>
  Welcome! Please log in with SQRL by scanning or clicking the QR code below.
</p>
<p>
  <a class="qr-code" href="<%= sqrlUrl %>" title="<%= sqrlUrl %>"><%- sqrlQR %></a>
</p>
<p id="login-text">Status...</p>
<div id="sqrl-nut" hidden><%= sqrlNut %></div>